body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
.brand{
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 40px;
}
h1{
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Rubik', sans-serif;
}
.eventlist {
  list-style-type: none;
}
/*App Component Styling*/
.navbar{
  margin: 0;
  padding: 15px;
  background-color: black;
}
.btn-secondary{
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  margin-left: 5px;
}
.btn{
  font-size: 16px;
  padding: 12px 12px;
  color: white;
}
.login{
  width: 125px;
  margin-left: 10px;
}

.btn-secondary a{
  color: white;
  text-decoration: none;
}

/*Login Component Styling*/

.background_login{ 

  background: url('shoes.jpg');
  width: 100%;
  height: 1000px;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.background_createEvent{ 

  background: url('runners.jpg');
  width: 100%;
  /*height: 1000px;*/
  margin: 0;
  padding: 0;
  padding-top: 100px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.background_confirmation{
  background: url('man_running.jpg');
  width: 100%;
  height: 800px;
  margin: 0;
  padding-top:80px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.square{
      background-color: rgba(255,255,255,.8);
      padding: 25px 60px;
      border-radius:5px;
}
.header{
  padding: 10px 0 80px 0;
}
.tagline {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.benefits{
  padding: 40px 40px;
}
.row{
  margin-left: 0px;
}
.categorie h4{
  padding: 20px 0;
}
.glyphicon{
    font-size: 3.2em;
}
.taglinePhrase{
  font-style: italic;
}

/*.container{
  padding: 10px;
  margin: 0;
}*/
/*in OneEvent component*/

.card{
  border: 1px solid lightgrey;
  background-color: #fff;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin: 2em;
    padding: 10px;
}
.card-title{
  text-align: center;
  text-transform: uppercase;
}
.checkboxLabel{
  margin-bottom: 20x;
  margin-left: 28px;
}

/*Calendar View*/

.searchTime{
  margin-top:35px
}
.createEvent{
  margin-top: 95px;
}
/*Event details*/

.attendees li {
  text-decoration: none;
}
